# exclude hidden directories
/.*/*

# Maven project extensions
!/.mvn/
!/.mvn/extensions.xml
!/.mvn/maven-git-versioning-extension.xml
**/.git-versioned-pom.xml

# idea
*.iml
!/.idea/codeStyles/

# maven
**/target/

# maven shade plugin (build artefact)
picoservice/dependency-reduced-pom*.xml
**/.flattened-pom.xml
